@{
    ViewBag.Title = "About";
}
<h2>Whatever You Need..WE Provide</h2>
<h3>Unless it's illegal, we don't do that.</h3>

<p>Swagtastic Entertainment provides all your needs. Birthday Parties, Graduation Parties, Hotel Parties.
     We got what you need!!</p>
<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />