@{
    ViewBag.Title = "Contact";
}
<h2>If you need Me</h2>
<h3>Hit me on my cellular device</h3>

<address>
    Lexus Davis Lane<br />
    Lexus, OH 44701<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:swagtastic@gmail.com">Swagtastic@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:SwagtasticMarketing@example.com">SwagtasticMarketing@gmail.com</a>
</address>

<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />