@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Swagtastic Entertainment</h1>
    <p class="lead">Swagtastic Entertainment is the Entertainment site for all your  needs!!</p>
    <p><a href="https://soundcloud.com/stream" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MC</h2>
        <p>
            If you want to hear some feel good music, that makes your body move go listen to my boy MC.
            Trust me I gurantee you will have a great time jamming to his tunes.
        </p>
        <p><a class="btn btn-default" href="https://soundcloud.com/mcbotce" target="_blank">Discover more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tae Miles</h2>
        <p>For more tunes and good vibes hop on over to my boy Tae Miles page. If you love hip-hop and great 
           lyrical context Tae is the guy for you.</p>
        <p><a class="btn btn-default" href="https://soundcloud.com/taemilescle">Discover more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ten X Ten</h2>
        <p>If you don't know what you are in the mood for go over to Ten X Ten Mgmt page. They will provide
            you with music from various generes.</p>
        <p><a class="btn btn-default" href="https://soundcloud.com/tenxten_mgmt">Discover more &raquo;</a></p>
    </div>

   

    </div>